* {
    box-sizing: border-box;
}

body {
justify-content: center;
align-items: center;
display: flex;
font-family: sans-serif;
height: 100vh;
max-width: 100%
}
.card {
 padding: 200px;
 border-radius: 0px;
 height: 10vh;
 max-width: 100%;
  }
 
